<% if (!quirks) { %>
<!doctype html>
<% } %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= id %></title>
    
    <% if (app && app.css) { %>
    <link rel="stylesheet" href="<%= app.css %>">
    <% } %>
    
    <% app && app.scripts && app.scripts.forEach(function (script) { %>
    <script src="<%= script %>"></script>
    <% }) %>
    
    <% scripts && scripts.forEach(function (script) { %>
    <script src="<%= script %>"></script>
    <% }) %>
    
    <script>
    window.parent.bender.setup(window);
    </script>
</head>
<body>
    <%= html %>
    <%= spec %>
</body>
</html>
