<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= name %></title>
    
    <% if (css) { %>
    <link rel="stylesheet" href="<%= css %>">
    <% } %>
    
    <% scripts && scripts.forEach(function (script) { %>
    <script src="<%= script %>"></script>
    <% }) %>
    
    <script>
    window.parent.bender.setup(window);
    </script>
</head>
<body>
    <%= html %>
    <%= spec %>
</body>
</html>
