<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bender.js <%= version %> Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <header>
        <h1>Bender.js <%= version %> Dashboard</h1>
        <a href="/capture" class="btn">Capture</a>
        <button id="runBtn" class="btn">Run</button>
    </header>
    <section>
        <h1>Captured browser</h1>
        <ol id="clients">
        <% if (clients && clients.length) { clients.forEach(function (client) { %>
            <li><%= client.ua %> <strong><% if (client.busy) {%>Busy<% } else { %>Ready<% } %></strong></li>
        <% }) } else { %>
            none
        <% } %>
        </ol>
        <h1>Test cases</h1>
        <table id="tests" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th style="width: 1%;">&nbsp;</th>
                    <th>ID</th>
                    <th>Tags</th>
                    <th>Results</th>
                </tr>    
            </thead>
            <tbody>
            <% Array.isArray(groups) && groups.forEach(function (group) { %>
            <tr class="group">
                <td><input type="checkbox" name="<%= group.name %>" checked="checked"></td>
                <td colspan="3"><span>Group:</span> <%= group.name %></td>
            </tr>
                <% Array.isArray(group.tests) && group.tests.forEach(function (test) { %>
                <tr>
                    <td><input type="checkbox" name="<%= test.id %>" checked="checked"></td>
                    <td><a href="tests/<%= test.id %>"><%= test.id %></a></td>
                    <td><%= test.tags %></td>
                    <td class="results"></td>
                </tr>
                <% }) %>
            <% }) %>
            </tbody>
        </table>
    </section>
    <script src="../socket.io/socket.io.js"></script>
    <script src="dashboard.js"></script>
</body>
</html>
