<% if (!quirks) { %><!doctype html><% } %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= id %></title>
    <script>window.parent.bender && window.parent.bender.setup(window);</script>
    
    <% Array.isArray(apps) && apps.forEach(function (app) { %>
        <% Array.isArray(app.css) && app.css.forEach(function (css) { %>
            <link rel="stylesheet" href="<%= css %>">
        <% }) %>
        <% Array.isArray(app.js) && app.js.forEach(function (script) { %>
            <script src="<%= script %>"></script>
        <% }) %>
    <% }) %>

    <% Array.isArray(plugins) && plugins.forEach(function (plugin) { %>
        <% Array.isArray(plugin.css) && plugin.css.forEach(function (css) { %>
            <link rel="stylesheet" href="<%= css %>">
        <% }) %>
        <% Array.isArray(plugin.js) && plugin.js.forEach(function (js) { %>
            <script src="<%= js %>"></script>
        <% }) %>
    <% }) %>
</head>
<body>
    <%- html %>
    <% if (js) { %><script><%- js %></script><% } %>
</body>
</html>
